@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
div {
font-family: Noto Sans;
}
.container {
width: auto;
max-width: 600px;
clear: both;
margin-left: auto;
margin-right: auto;
}
.forminput {
box-sizing: content-box;
font-family: Noto Sans;
padding: 3px 6px;
}
.vref {
font-size: small;
display: initial;
}
